# Environments
venv/
env/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Mac OS
.DS_Store

# IDEs
.idea/
.vscode/

# Test / Output files
*.enc
*.dec
*.restored
test.txt
cipher_history.txt
temp_qr.png

# Keys and Secrets
*.key
mfa_vault.json
keys_registry.json

# Restructured Databases, Dynamic Files, & Local Caches
data/
uploads/
